body {
  font-family: Arial, sans-serif;
  background: lightcoral;
  text-align: center;
}

h1 {
  color: white;
}

#chatBox {
  width: 90%;
  max-width: 500px;
  margin: 20px auto;
  background: white;
  border-radius: 10px;
  padding: 10px;
  height: 300px;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

p{
  background:#4facfe;
  color:white;
  padding:8px;
  border-radius:10px;
}

button{
  padding:8px 15px;
  border:none;
  border-radius:10px;
  cursor:pointer;
}

#users div{
  background:white;
  margin:5px;
  padding:8px;
  border-radius:5px;
  cursor:pointer;
}

#users div:hover{
  background:#eee;
}

#typing{
  color:white;
  font-size:14px;
}